frr version 3.1+cl3u3
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% for interface in node[inventory_hostname]["bgp"]["peers"] -%}
interface {{interface}}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ node[inventory_hostname]["bgp"]["asn"] }}
 bgp router-id {{ node[inventory_hostname]["interfaces"]["lo"]|replace("/32", "")}}
 bgp bestpath as-path multipath-relax
 neighbor FABRIC peer-group
 neighbor FABRIC remote-as external
 neighbor FABRIC timers 1 3
{% for interface in node[inventory_hostname]["bgp"]["peers"] -%}
 neighbor {{interface}} interface peer-group FABRIC
{% endfor -%}
 !
 address-family ipv4 unicast
  redistribute connected route-map loopbacks
 exit-address-family
 !
 {% if not node[inventory_hostname]["docker_roh"] is defined %}
 address-family l2vpn evpn
   neighbor FABRIC activate
   advertise-all-vni
 exit-address-family
 {% endif %}
!
route-map loopbacks permit 10
 match interface lo
!
line vty
!
