# Created by Topology-Converter v{{ version }}
#    Template Revision: v4.6.5

{% if devices[0].function == "oob-server" %}
127.0.0.1 localhost 
127.0.1.1 {{ devices[0].hostname }}

{{ devices[0].mgmt_ip }} {{ devices[0].hostname }}

{% for device in devices %}{% if device.mgmt_ip is defined %}{% if device.function != "oob-server" %}
{{ device.mgmt_ip }} {{ device.hostname }}{% endif %}{% endif %}{% endfor %}{% else %}
    #### HOSTS CANNOT BE WRITTEN BECAUSE
    ####     NO DEVICE has FUNCTION="oob-server"
{% endif %}


# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

